/* You can add global styles to this file, and also import other style files */

@import url("./assets/theme/colors.scss");
@import url("./assets/theme/functions.scss");


router-outlet ~ * {
  position: absolute;
  width: 100%;
  height: 100%;
}

* {
  font-family: "Ubuntu", sans-serif;
}